<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cst2335_graphicalinterfaceprogramming">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".MenuExample"></activity>
        <activity android:name=".GoToTicketToolbarPage" />
        <activity android:name=".TicketDetailsActivity" />
        <activity android:name=".AlbumDetailsInfo" />
        <activity android:name=".TheAudioDatabase" />
        <activity android:name=".ListOfRecipes" />
        <activity android:name=".RecipeSearch" />
        <activity android:name=".TicketMasterActivity" />
        <activity android:name=".DetailsActivity" />
        <activity android:name=".FavoriteActivity" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".SearchResult" />
        <activity android:name=".Covid19Activity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>